@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-width: 360px;
    @apply scroll-smooth;
  }

  body {
    @apply bg-white dark:bg-grey-970 w-screen overflow-x-hidden text-base;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-grey-1000 dark:text-grey-0 font-bold;
  }

  h1 {
    @apply text-4xl md:text-5xl mb-4;
  }

  h2 {
    @apply text-3xl md:text-4xl mb-4;
  }

  h3 {
    @apply text-2xl mb-3;
  }

  p {
    @apply text-grey-800 dark:text-grey-200;
  }
}

@layer components {
  #__next {
    @apply min-h-screen;
  }

  /* Skip to content */
  [data-reach-skip-link] {
    @apply absolute w-px h-px p-0 -m-px overflow-hidden whitespace-nowrap border-0;
  }

  [data-reach-skip-link]:focus {
    @apply w-auto overflow-visible m-0 whitespace-normal fixed top-[10px] left-7 z-50 h-10 flex items-center underline outline-none px-4 font-medium text-cobalt-dark dark:text-blue-400 bg-white dark:bg-grey-970 ring-2 ring-cobalt-dark dark:ring-blue-400 rounded-md;
  }

  /* Markdown styles */
  .prose {
    @apply w-full text-lg md:max-w-prose mx-auto;
  }

  .prose h2,
  .prose h3,
  .prose h4 {
    @apply font-semibold;
  }

  .prose h2 {
    @apply text-[25px] md:text-[30px] leading-9 md:leading-snug tracking-tight mt-16 m-0 scroll-m-20 border-b border-grey-120 dark:border-grey-880;
  }

  .prose h3 {
    @apply text-[22px] md:text-[24px] mt-10 m-0 scroll-m-20;
  }

  .prose h4 {
    @apply text-[20px] mt-8 m-0 scroll-m-20;
  }

  .prose p {
    @apply text-lg text-grey-950 dark:text-grey-200;
  }

  .prose p strong {
    @apply text-grey-1000 dark:text-grey-120;
  }

  .prose hr {
    @apply border-grey-120 dark:border-grey-880 my-14;
  }

  .prose p,
  .prose ul,
  .prose ol,
  .prose pre,
  .prose .rehype-code-title,
  .prose blockquote {
    @apply mt-8;
  }

  .prose table {
    @apply my-10;
  }

  .prose blockquote p {
    @apply text-2xl leading-relaxed font-medium text-center text-grey-880 dark:text-grey-150 px-7;
  }

  .prose ul li,
  .prose ol li {
    @apply text-grey-950 dark:text-grey-200 pl-1 ml-9;
  }

  .prose ol,
  .prose ul {
    @apply space-y-1 list-outside;
  }

  .prose ol {
    @apply list-decimal;
  }

  .prose ul {
    @apply list-disc;
  }

  .prose ul li::marker {
    @apply text-grey-1000 dark:text-white;
  }

  .prose ol li::marker {
    @apply text-grey-950 dark:text-grey-200;
  }

  .prose li p {
    @apply mt-3;
  }
  .prose li p:not(:first-child) {
    @apply mt-8;
  }

  .prose ul ul,
  .prose ol ol {
    @apply mt-1;
  }

  .prose a:not(.permalink-to-header) {
    @apply font-medium text-grey-900 dark:text-grey-100 hover:text-grey-1000 dark:hover:text-grey-0 hover:transition-colors hover:duration-200 underline underline-offset-4;
  }

  .prose table {
    @apply w-full;
  }

  .prose table thead tr,
  .prose table tbody tr {
    @apply text-grey-1000 dark:text-grey-80 m-0 p-0;
  }

  .prose table tbody tr {
    @apply border-t border-grey-120 dark:border-grey-880 text-grey-950 dark:text-grey-200;
  }

  .prose table thead tr th {
    @apply font-bold;
  }

  .prose table tbody tr td {
    @apply text-base;
  }

  .prose table thead tr th {
    @apply pt-0 pb-2;
  }

  .prose table thead tr th,
  .prose table tbody tr td {
    @apply px-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .prose table tbody tr td {
    @apply py-2;
  }
}

@layer utilities {
  .flex-1\/2 {
    flex: 1 1 50%;
  }

  .flex-1\/3 {
    flex: 1 1 calc(100% / 3);
  }
}

/* Syntax highlighter styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-grey-500 dark:text-grey-400;
}

.token.punctuation,
.token.maybe-class-name,
.token.script,
.token.atrule,
.token.parameter {
  @apply text-amber-700 dark:text-amber-400;
}

.token.boolean,
.token.constant,
.token.string,
.token.char,
.token.number,
.token.attr-name,
.token.script.language-javascript,
.token.property,
.token.interpolation {
  @apply text-blue-700 dark:text-blue-300;
}

.token.keyword,
.token.operator,
.token.rule,
.token.unit {
  @apply text-orange-700 dark:text-coral;
}

.token.literal-property,
.token.property-access,
.token.attr-value {
  @apply text-grey-1000 dark:text-grey-200;
}

.token.tag,
.token.selector,
.token.class-name {
  @apply text-lime-700 dark:text-green-400;
}

.token.keyword.module,
.token.method,
.token.function {
  @apply text-purple-700 dark:text-purple-400;
}

pre {
  @apply whitespace-pre-wrap break-words text-base tracking-tight bg-grey-50/80 dark:bg-grey-1000 rounded-md;
}

code {
  @apply align-middle text-base tracking-normal text-grey-1000 dark:text-grey-150 bg-grey-80 dark:bg-grey-800 border border-grey-120 dark:border-grey-700 rounded-[4px] py-[2px] px-2;
}

pre code {
  @apply block tracking-tight text-grey-1000 dark:text-grey-200 p-0 m-0 bg-grey-50/70 dark:bg-grey-1000 border-none;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-grey-1000 dark:text-grey-200;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @apply px-5 py-4;
}

.rehype-code-title {
  @apply px-4 pb-3 font-medium text-sm text-grey-1000 dark:text-grey-150;
}

.rehype-code-title + pre {
  @apply mt-0;
}

.highlight-line {
  @apply block -mx-5 pl-[20px] bg-grey-100/80 dark:bg-grey-900;
}

.code-line.line-number:not(.highlight-line) {
  display: block;
}

.line-number::before {
  content: attr(line);
  @apply text-grey-500 dark:text-grey-400 inline-block w-5 text-right mr-6;
}

.line-number::before.highlight-line {
  @apply text-grey-900 dark:text-grey-150;
}

.permalink-to-header {
  @apply block after:content-['#'] after:pl-2 after:inline-block after:text-transparent after:font-medium after:text-[1.2em] hover:after:transition-all hover:after:duration-200 hover:after:text-grey-400 dark:hover:after:text-grey-400;
}
